body {
   background-color: #232323;
}

/* HEADER ELEMENT */
h1 {
   color: white;
}

/* COLOR-BOXES */
#container {
   max-width: 600px;
   margin: 0 auto;
}

.square {
   width: 30%;
   background-color: purple;
   padding-bottom: 30%;
   margin: 1.66%;
   float: left;
}
